
<div class="content-wrapper-about">
  <section class="about">
    <br />
    <br />
    <div><img class="pb-logo" src="/images/pb_logo.png" alt="Petbook Logo"></img></div>
    <p class="about-me"><strong>Welcome to Petbook!</strong></p>
      <p class="sub-heading"><strong>Find pet services near you!</strong></p>
    <br />
    <hr class="about-line">
    <div class="content-wrapper-bio">
      <!-- <img class="picture" src="images/bio_dog.jpeg" alt="dog" height="200" width="250"> -->
      <!-- <div>
        <p class="bio-heading"><strong>Find other pets near you!</strong></p>
      </div>
      <br>
      <br> -->
      <div class="bio-description">
        <p>You can create a profile for your pets and find pet services in your area!</p>
      </div>
    </div>
  </section>
</div>

<!-- Sidebar Section -->
<div class="sidebar">
  <p class="login-text"><strong>Click below to log in!</strong></p>
  <!-- <hr class="connect-line"> -->

  <div class="sidebar-modal">
    <!-- Button to open the modal login form -->
    <button type="submit" class="btn btn-primary mb-2 formtext" id='signInBtn'>Log In</button>
  </div>


    <!-- The Modal -->
    <!-- <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <div class="LoginModal"></div> -->

      <!-- Modal Content -->
      <!-- <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
          <img src="images/modal_img.jpg" alt="Avatar" class="avatar" height="250" width="200">
        </div>

        <div class="login-container">
          <hr>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>


          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        </div>
        <div class="login-container">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <button type="submit" width="50">Login</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

  </div>




  <!-- Button to open the Registration modal -->
  <br>

  <div class="reg-message"><p><strong>If you don't have an account, please register below!</strong></p></div>
  <button type="submit" class="btn btn-primary mb-2 formtext" id='signUpBtn'>Register</button>
  </div>

  <!-- The Modal (contains the Sign Up form) -->
  <!-- <div id="id02" class="modal">
    <div class="RegModal"></div>
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">times;</span>
    <form class="modal-content" action="/action_page.php">
      <div class="Reg-imgcontainer">
        <img src="images/modal_img2.jpg" alt="Avatar" class="avatar" height="250" width="225">
      </div>
      <div class="registration-container">
        <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

        <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
          <button type="submit" class="signup">Register</button>
        </div>
      </div>
    </form>
  </div>
</div> -->
<!-- <script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script> -->
