<div class="container">

  <div class="login-container col-md-3 mb-3">
    <div class="login-header"><h2><strong>Log in to Petbook</strong><h2></div>
      <form id="signin" name="signin" method="post" action="/signin">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-login btn-primary">Log In</button>
        <a href="/" class="btn back-home-login btn-login btn-primary" role="button">Back Home</a>
    </form>
  </div>

</div>
