  <div class="container">
    <div><h2>Terms of Service<h2></div>
      <div class="tos col-md-4">
        <p>By using this service, you agree to sharing your location with the app. Your location isn't recorded or saved in our database and is only used by the Google Maps API to locate services or locations you search for.</p>
        <p>You also agree by using our service that your experience may be interrupted from time to time by updates or upgrades to the codebase. This is so we can add functionality and offer a better experience for our users.</p>
        <p>Any services, images, or likenesses are property of their owners. We claim no ownership over user data or pet data.</p>
      </div>
      <a href="/signup" class="btn back-home-tos btn-login btn-primary" role="button">Back to Registration</a>
    </div>
